

/*
.logged-in .portal-menu-item a{
	padding:0!important;
}

.logged-in .widget_nav_menu  li li a{color:#57488F}
.logged-in .widget_nav_menu  li li a:hover{color:#4C8CC2}

.portal-menu-item a span.portalitem{  background: rgb(224, 224, 224) none repeat scroll 0% 0%;  padding:15px 15px; }
.portal-menu-item a:hover span.portalitem{ color:#383838;}
.portal-menu-item.active a span.portalitem{background:#2171B4;color:#fff;}

.portal-menu-item .portal_dropdown a{
	background:transparent!important;
	margin-top:0!important;
	line-height:40px!important;
	padding:0 17px!important;
}
*/

.portal_box{padding: 10px 20px;}
.portal_box h3{margin: 10px 0 15px 115px;}
.portal_member_details{background: #F0F0F0;}
